<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/userasset/images_02/Logo The Planning Paradise White Bg.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Lovus is responsive wedding html website template" />
    <meta name="keywords" content="wedding,couple,ceremony,reception,rsvp,gallery,event,countdown" />
    <meta name="author" content="" />

    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="~/userasset/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/userasset/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/userasset/css/owl.carousel.css" type="text/css" />
    <link rel="stylesheet" href="~/userasset/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="~/userasset/css/jquery.countdown.css" type="text/css" />
    <link rel="stylesheet" href="~/userasset/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/userasset/css/animsition.min.css" type="text/css" />

    <!-- custom background -->
    <link rel="stylesheet" href="~/userasset/css/bg.css" type="text/css" />

    <!-- color scheme -->
    <link rel="stylesheet" href="~/userasset/css/color.css" type="text/css" id="colors" />
</head>
<body>
    <!-- header begin -->
    <header>
        <div class="container">
            <div class="row header-top-mobile">
                <div class="header-top d-md-block d-none">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9" style="display: flex;">
                                <h6 class="mr-3">
                                    <span><i class="fa fa-mobile"></i></span>call us! +91 7078787837
                                </h6>
                                <h6 class="mr-3">
                                    <span>
                                        <i class="fa fa-envelope-o"></i>
                                    </span>theplanningparadiseofficial@gmail.com
                                </h6>
                            </div>
                            <div class="col-lg-3">
                                <div class="social-links">
                                    <ul>
                                        <li>
                                            <a href="https://www.instagram.com/theplanningparadiseofficial/"
                                               style="background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/107114238091196/posts/260663349402950/"
                                               style="background: rgb(23, 120, 242) !important">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/the-planning-paradise-ab0b42222/" style="background: #2867B2;">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/theplanningpar2/status/1448924683194146816?s=24" style="background: #1DA1F2;">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://pin.it/66TyKMt" style="background: #E60023;">
                                                <i class="fa fa-pinterest-p"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://theplanningparadise.wordpress.com/" style="background: #60a7c9;">
                                                <i class="fa fa-wordpress" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="header-bottom">
                            <div class="col-4">
                                <!-- logo begin -->
                                <div id="logo">
                                    <a href="index.html">
                                        <img class="logo" src="~/userasset/images_02/logo-white.png"
                                             style="width: 160px; padding: 0 !important; margin: 0 !important;"
                                             alt="">
                                        <img class="logo-2" src="~/userasset/images_02/logo-black.png"
                                             style="width: 90px;" alt="">
                                    </a>
                                </div>
                                <!-- logo close -->
                            </div>
                            <div class="col-8 d-flex justify-content-center align-item-center">
                                <!-- small button begin -->
                                <span id="menu-btn"></span>
                                <!-- small button close -->
                                <!-- mainmenu begin -->
                                <nav>
                                    <ul id="mainmenu">
                                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                        <li><a asp-action="AboutUs" asp-controller="Home">About Us</a></li>
                                        <li><a asp-controller="Home" asp-action="Services">Services</a></li>
                                        <li><a asp-controller="Home" asp-action="DestinationWedding">Destination Wedding</a></li>
                                        <li><a asp-controller="Home" asp-action="Gallery">Gallery</a></li>
                                        <li><a asp-controller="Home" asp-action="FAQs">FAQ's</a></li>
                                        <li><a asp-controller="Home" asp-action="Blogs">Blog</a></li>
                                        <a asp-controller="Home" asp-action="Contact" class="btn-rsvp d-md-block d-none">Contact Us</a>
                                    </ul>
                                </nav>
                                <!-- mainmenu close -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header close -->
    <div id="wrapper">
        <div>
            @RenderBody()
        </div>
    </div>
        <!-- footer begin -->
        <footer class="footer">
            <div class="container text-light">
                <div class="row">
                    <div class="col-md-4 col-12 footer-head" style="border-right: 1px solid white; padding: 0 0 120px 0;">
                        <div class="footer-title">
                            <h2>We are <br class="footer-br"> here to hear<br class="footer-br"> you.</h2>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-12 footer-contact-us text-left"
                         style="border-right: 1px solid white;">
                        <h2 class="footer-contact-title">Contact US</h2>
                        <div class="footer-contact">
                            <h6 class="id-color">Address :</h6>
                            <h4>Navi Mumbai, Maharashtra, India</h4>
                            <h6 class="id-color">Call Us :</h6>
                            <h4>+91 7078787837</h4>
                            <h6 class="id-color">Email Us :</h6>
                            <h4>theplanningparadiseofficial@gmail.com</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 fsocial-icons">
                        <h2 class="footer-icon-title">Follow Us</h2>
                        <div class="social-links">
                            <ul style="list-style: none; padding-inline-start: 0 !important;">
                                <li>
                                    <a href="https://www.instagram.com/theplanningparadiseofficial/"
                                       style="background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/107114238091196/posts/260663349402950/"
                                       style="background: rgb(23, 120, 242) !important">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/the-planning-paradise-ab0b42222/"
                                       style="background: #2867B2;">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://twitter.com/theplanningpar2/status/1448924683194146816?s=24"
                                       style="background: #1DA1F2;">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <br />
                                <li>
                                    <a href="https://pin.it/66TyKMt" style="background: #E60023;">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://theplanningparadise.wordpress.com/" style="background: #60a7c9;">
                                        <i class="fa fa-wordpress" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="subfooter text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 copyr-text">
                            Developed By- <a href="https://it-planet.in/#" style="font-size: 16px;"> IT-Planet</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->

        <a href="#" id="back-to-top"></a>
        <div id="preloader">
            <div class="preloader1"></div>
        </div>

        <!-- Javascript Files
        ================================================== -->
        <script src="~/userasset/js/jquery.min.js"></script>
        <script src="~/userasset/js/bootstrap.min.js"></script>
        <script src="~/userasset/js/jquery.isotope.min.js"></script>
        <script src="~/userasset/js/easing.js"></script>
        <script src="~/userasset/js/owl.carousel.js"></script>
        <script src="~/userasset/js/jquery.countTo.js"></script>
        <script src="~/userasset/js/validation.js"></script>
        <script src="~/userasset/js/wow.min.js"></script>
        <script src="~/userasset/js/jquery.magnific-popup.min.js"></script>
        <script src="~/userasset/js/enquire.min.js"></script>
        <script src="~/userasset/js/jquery.stellar.min.js"></script>
        <script src="~/userasset/js/jquery.plugin.js"></script>
        <script src="~/userasset/js/jquery.countdown.js"></script>
        <script src="~/userasset/js/countdown-custom.js"></script>
        <script src="~/userasset/js/animsition.min.js"></script>
        <script src="~/userasset/js/designesia.js"></script>
</body>
</html>
