@model PlanningParadiseAdmin.Models.WhyChoosePoints

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Why Choose Us</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Edit Why Choose Us Points</h3>
                    </div>
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="PointText" class="control-label"></label>
                                        <textarea cols="5" rows="5" asp-for="PointText" class="form-control"></textarea>
                                        <span asp-validation-for="PointText" class="text-danger"></span>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
</form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
            </div>
        </div>
    </section>
            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
