@model IEnumerable<PlanningParadiseAdmin.Models.Blog>
@{
    ViewData["Title"] = "Blogs - The Planning Paradise";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<!-- subheader -->
<section id="subheader" class="subheader_04 dark no-top no-bottom" data-stellar-background-ratio=".2">
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center fadeScroll relative" data-scroll-speed="2">
                    <h2 data-scroll-speed="8">Blog</h2>
                    <div class="small-border"></div>
                    <div class="spacer-double"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="blog-list">
                @foreach (var item in Model)
                {
                  <div class="col-md-6">
                    <div class="post-content">
                        <div class="post-image">
                            <figure class="picframe img-rounded mb20">
                                <img src="~/Images/blogs/@item.Blog_Img" class="img-responsive img-rounded" alt="">
                            </figure>
                        </div>

                        <div class="post-wrapper">
                            <!-- <div class="date-box">
                                <div class="day">26</div>
                                <div class="month">FEB</div>
                            </div> -->

                            <div class="post-text">
                                <h3><a href="css/#">@item.Blog_Heading</a></h3>
                                <p>
                                    @item.BlogShort_Detail
                                </p>

                                <div class="readmore-btn">
                                    <button id="myBtn" onclick="showpop('@item.BlogLong_Detail')">Read More</button>
                                </div>
                            </div>


                            <div class="clearfix"></div>
                        </div>



                    </div>
                </div>
                }


            </div>

        </div>
    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
            <div class="blog-title text-center">
                
            </div>
            <div class="blog-text" id="poptext">
               
            </div>
        </div>

    </div>
</div>
<script>

    function showpop(ptext) {
        var modal = document.getElementById("myModal");
        document.getElementById("poptext").innerHTML = ptext;
        modal.style.display = "block";
    }




</script>
<script>

    //function myFunction() {
    //    var popup = document.getElementById("myPopup");
    //    popup.classList.toggle("show");
    //}
    //// Get the modal
    //var modal = document.getElementById("myModal");

    //// Get the button that opens the modal
    //var btn = document.getElementById("myBtn");

    //// Get the <span> element that closes the modal
    //var span = document.getElementsByClassName("close")[0];

    //// When the user clicks the button, open the modal
    //btn.onclick = function () {
    //    modal.style.display = "block";
    //}

    //// When the user clicks on <span> (x), close the modal
    //span.onclick = function () {
    //    modal.style.display = "none";
    //}

    //// When the user clicks anywhere outside of the modal, close it
    //window.onclick = function (event) {
    //    if (event.target == modal) {
    //        modal.style.display = "none";
    //    }
    //}
</script>