@{
    ViewData["Title"] = "Destination Wedding - The Planning Paradise";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using Microsoft.AspNetCore.Identity;
@using PlanningParadiseAdmin.Data;
@using PlanningParadiseAdmin.ViewModel;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
<style>
    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        -o-transition: 0.5s !important;
        -ms-transition: 0.5s !important;
        -moz-transition: 0.5s !important;
        -webkit-transition: 0.5s !important;
        transition: 0.5s !important;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 80%;
        text-align: center;
    }

    .modal-img img {
        width: 350px;
    }

    .modal-back {
        background: url(./images_02/background/flowers2.png) top 0px left 0px, url(./images_02/background/flowers1.png) top 0px right 0px;
        background-size: 5% !important;
        background-repeat: no-repeat;
        padding: 10px 40px;
    }

    /* The Close Button */
    .close {
        color: #535353;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-right: 15px;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .close1 {
        color: #535353;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-right: 15px;
    }

        .close1:hover,
        .close1:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    @@media(max-width: 415px) {
        .modal-back {
            padding: 10px 15px;
        }

        .modal-img img {
            width: 200px;
        }
    }
</style>
<!-- subheader -->
<section id="subheader" class="dark no-top no-bottom" data-stellar-background-ratio=".2">
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center fadeScroll relative" data-scroll-speed="2">
                    <h2 data-scroll-speed="8">Wedding Destination</h2>
                    <div class="spacer-double"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<!-- content begin -->
<div id="content" class="no-top no-bottom">

    <!-- Destinaton Wedding Start -->

    <div id="content" class="service-cards" style="width: 100%; height: auto;">
        <div class="container">
            <div class="row">
                <div class="col-12">


                    <div class="de_tab tab_style_3 text-center">
                        <ul class="de_nav">
                            <li class="active" data-link="#section-services-tab"><span>National</span></li>
                            <li data-link="#section-services-tab"><span>International</span></li>
                        </ul>

                        <div class="de_tab_content">

                            <div id="tab1" class="tab_single_content">
                                <div class="row">
                                    @{
                                        var Nationalweedings = SessionHelper.GetObjectFromJson<IList<DestinationWedding>>(Context.Session, "Nationalweedings");
                                        if (Nationalweedings != null)
                                        {
                                            foreach (var item in Nationalweedings.GroupBy(Obj => new { Obj.ID }).Distinct().ToList())
                                            {
                                                <div class="col-md-3 col-sm-6 text-center servicecard-col">
                                                    <div class="service-card1">
                                                        <img src="~/Images/DestinationWedding/@item.FirstOrDefault().Destination_Img" alt="" class="sc-image" />
                                                        <div class="sc-overly">
                                                            <div class="service-card-content">
                                                                <h2 class="sc-content-title">@item.FirstOrDefault().Destination_Heading</h2>
                                                                <hr class="sc-content-hr">
                                                                <button 
                                                                        onclick="showpop('@item.FirstOrDefault().Destination_Text')"
                                                                        class="sc-content-btn">
                                                                    View Details <i class="fa fa-arrow-right"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                }
                                            }
                                        }

                                            </div>
                            </div>
                            <div id="tab2" class="tab_single_content">
                                <div class="row">
                                    @{
                                        var InterNationalweedings = SessionHelper.GetObjectFromJson<IList<DestinationWedding>>(Context.Session, "InterNationalweedings");
                                        if (InterNationalweedings != null)
                                        {
                                            foreach (var item in InterNationalweedings.GroupBy(Obj => new { Obj.ID }).Distinct().ToList())
                                            {

                                                <div class="col-md-3 col-sm-6 text-center servicecard-col">
                                                    <div class="service-card1">
                                                        <img src="~/Images/DestinationWedding/@item.FirstOrDefault().Destination_Img" alt="" class="sc-image" />
                                                        <div class="sc-overly">
                                                            <div class="service-card-content">
                                                                <h2 class="sc-content-title">@item.FirstOrDefault().Destination_Heading</h2>
                                                                <hr class="sc-content-hr">
                                                                <button 
                                                                        onclick="showpop('@item.FirstOrDefault().Destination_Text')"
                                                                        class="sc-content-btn">
                                                                    View Details <i class="fa fa-arrow-right"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            }
                                        }
                                    }
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Destinaton Wedding Start End -->


    </div>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-back">
                <span class="close"
                        >&times;</span>
                <div class="blog-title text-center">

                </div>
                <div class="blog-text">
                    <div class="blog-para">
                        <p id="poptext">
                            Exchanging your vows while the sun sets behind an ancient Balinese
                            temple or overlooking the horizon of blue waters of a tranquil sea- as far as
                            magical moments in paradise goes, it doesn't get much better than hosting your
                            wedding in Bali, With great cuisine, hospitality and sightseeing options, Bali has
                            everything a destination wedding defines.
                        </p>
                    </div>
                </div>
                <div class="modal-img">
                    <img src="~/userasset/images_02/background/modal-img.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<script>

    function showpop(ptext) {
        var modal = document.getElementById("myModal");
        document.getElementById("poptext").innerHTML = ptext;
        modal.style.display = "block";
    }




</script>