@model IEnumerable<PlanningParadiseAdmin.Models.FAQ>
@{
    ViewData["Title"] = "FAQ's - The Planning Paradise";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .accordion {
        background-color: transparent;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.4s;
    }

        .accordion span {
            font-size: 18px;
            font-weight: bolder;
        }

        .accordion:hover:after {
            color: #eb7ac7 !important;
        }

        .accordion:after {
            content: '\002B';
            color: rgb(199, 104, 186);
            font-weight: bolder;
            font-size: 20px;
            float: left;
            margin-right: 10px;
            border: 2px solid rgb(199, 104, 186);
            border-radius: 7px;
            padding: 0px 4px 4px 4px;
            height: 24px;
            width: 22px;
        }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        margin-bottom: 0 !important;
        border-bottom: 1px solid rgba(128, 128, 128, .2);
    }
</style>
<!-- subheader -->
<section id="subheader" class="subheader_03 dark no-top no-bottom" data-stellar-background-ratio=".2" style="background-color: #000000;
        background-image: linear-gradient(180deg, #000000 10%, #ffffff 75%);
        ">
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center fadeScroll relative" data-scroll-speed="2">
                    <h2 data-scroll-speed="8">FAQ's</h2>
                    <div class="small-border"></div>
                    <div class="spacer-double"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<!-- FAQ's Accordion -->
<section id="faqs">
    <div class="container">
        <div class="row">
            <div class="accordions">
               @foreach (var item in Model)
               {


                <button class="accordion" style="border-top:1px solid rgba(128, 128, 128,.2)">
                    <span>
                        @item.Faq_Heading
                    </span>
                </button>
                <div class="panel">
                    <p>
                        @item.Faq_Text
                    </p>
                </div>
               }


            </div>
        </div>
    </div>
</section>
<!-- FAQ's Accordion End -->
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>