@model IEnumerable<PlanningParadiseAdmin.Models.Services>
@{
    ViewData["Title"] = "Services - The Planning Paradise";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!-- subheader -->
<section id="subheader" class="subheader_03 dark no-top no-bottom" data-stellar-background-ratio=".2">
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center fadeScroll relative" data-scroll-speed="2">
                    <h2 data-scroll-speed="8">Services</h2>
                    <div class="small-border"></div>
                    <div class="spacer-double"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<!-- Service Cards -->
<section id="service-cards">
    <div class="container">
        <div class="row">
            <h2 class="service-content-title text-center">Our Services</h2>
           @foreach (var item in Model)
	        {
        <div class="col-md-4 col-sm-6 col-12">
            <div class="service-content">
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <img class="profile" width="100%" src="~/Images/services/@item.Service_Img"
                                 alt="Neymar">
                            <h2>@item.Service_Heading</h2>
                        </div>
                        <div class="back from-left">
                            <h2>@item.Service_Heading</h2>
                            <p class="des">
                                @item.Servie_Text
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	        }
            
           

        </div>
</section>
<!-- Service Cards End -->