@model PlanningParadiseAdmin.Models.WWAImages
@{
    ViewData["Title"] = "WWA Images";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .WWA_Img_group {
        margin-top: 10px;
    }

    .WWA_Imgs {
        width: 450px;
        height: 250px;
    }
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Index</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Who we are images</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Who are images Edith</h3>
                    </div>
                    <form asp-action="SaveImages" enctype="multipart/form-data">
                        <table id="data_table1">


                            <div class="card-body">
                                <div class="row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                                    <div class="col-md-4">
                                        <div class="form-group WWA_Img_group">
                                            <label asp-for="WWA_Img1" class="control-label">Who We Are 1</label>
                                            <img class="img-fluid WWA_Imgs" src="~/Images/wwaImages/@Model.WWA_Img1" />
                                            <input type="file" asp-for="WWA_Img1" class="form-control" />
                                            <span asp-validation-for="WWA_Img1" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group WWA_Img_group">
                                            <label asp-for="WWA_Img2" class="control-label">Who We Are 2</label>
                                            <img class="img-fluid WWA_Imgs" src="~/Images/wwaImages/@Model.WWA_Img2" />
                                            <input type="file" asp-for="WWA_Img2" class="form-control" />
                                            <span asp-validation-for="WWA_Img2" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group WWA_Img_group">
                                            <label asp-for="WWA_Img3" class="control-label">Who We Are 3</label>
                                            <img class="img-fluid WWA_Imgs" src="~/Images/wwaImages/@Model.WWA_Img3" />
                                            <input type="file" asp-for="WWA_Img3" class="form-control" />
                                            <span asp-validation-for="WWA_Img3" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group WWA_Img_group">
                                            <label asp-for="WWA_Img4" class="control-label">Who We Are 4</label>
                                            <img class="img-fluid WWA_Imgs" src="~/Images/wwaImages/@Model.WWA_Img4" />
                                            <input type="file" asp-for="WWA_Img4" class="form-control" />
                                            <span asp-validation-for="WWA_Img4" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group WWA_Img_group">
                                            <label asp-for="WWA_Img5" class="control-label">Who We Are 5</label>
                                            <img class="img-fluid WWA_Imgs" src="~/Images/wwaImages/@Model.WWA_Img4" />
                                            <input type="file" asp-for="WWA_Img5" class="form-control" />
                                            <span asp-validation-for="WWA_Img5" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group WWA_Img_group">
                                            <label asp-for="WWA_Img6" class="control-label">Who We Are 6</label>
                                            <img class="img-fluid WWA_Imgs" src="~/Images/wwaImages/@Model.WWA_Img6" />
                                            <input type="file" asp-for="WWA_Img6" class="form-control" />
                                            <span asp-validation-for="WWA_Img6" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group WWA_Img_group">
                                            <label asp-for="WWA_Img7" class="control-label">Who We Are 7</label>
                                            <img class="img-fluid WWA_Imgs" src="~/Images/wwaImages/@Model.WWA_Img7" />
                                            <input type="file" asp-for="WWA_Img7" class="form-control" />
                                            <span asp-validation-for="WWA_Img7" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group WWA_Img_group">
                                            <label asp-for="WWA_Img8" class="control-label">Who We Are 8</label>
                                            <img class="img-fluid WWA_Imgs" src="~/Images/wwaImages/@Model.WWA_Img8" />
                                            <input type="file" asp-for="WWA_Img8" class="form-control" />
                                            <span asp-validation-for="WWA_Img8" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group WWA_Img_group">
                                            <label asp-for="WWA_Img9" class="control-label">Who We Are 8</label>
                                            <img class="img-fluid WWA_Imgs" src="~/Images/wwaImages/@Model.WWA_Img9" />
                                            <input type="file" asp-for="WWA_Img9" class="form-control" />
                                            <span asp-validation-for="WWA_Img9" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </table>
                    </form>
                </div>
            </div>


        </div>
    </div>
</section>

<script src="~/plugins/jquery/jquery.min.js"></script>

@if ((string)TempData["message"] != "")
{

    <script type="text/javascript">
        debugger;
        var msgtype = '@TempData["message"]';
    $(function () {
    const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 3000
    });


        if (msgtype == "Saved") {
            toastr.success('Saved Successfully')
        }
        if (msgtype == "Updated") {
            toastr.success('Updated Successfully')
        }
        if (msgtype == "Delete") {
            toastr.success('Deleted Successfully')
        }
        if (msgtype == "All already Exists") {
            toastr.error('Product Name is Already Exist')
        }
    });

        console.log(msgtype);
    </script>
}
