@model PlanningParadiseAdmin.Models.Services

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Services</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Service_Heading" class="control-label"></label>
                <input asp-for="Service_Heading" class="form-control" />
                <span asp-validation-for="Service_Heading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servie_Text" class="control-label"></label>
               <textarea rows="5" cols="50" asp-for="Servie_Text" class="control-label"></textarea>
                <span asp-validation-for="Servie_Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service_Img" class="control-label"></label>
                <input type="file" asp-for="Service_Img" class="form-control" />
                <span asp-validation-for="Service_Img" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
